<div class='email-footer'>
  {{#if companyName}}
    <p class='email-spacing-none'><strong>{{companyName}}</strong></p>
  {{/if}}
  {{#if unsubscribeText}}
    <p class='email-text-alt'>
      {{unsubscribeText}}
      <a
        href='{{unsubscribeUrl}}'
        class='email-link'
      >{{unsubscribeLinkText}}</a>.
    </p>
  {{/if}}
  {{#if year}}
    <p class='email-text-alt email-spacing-none'>
      ©
      {{year}}
      {{companyName}}. All rights reserved.
    </p>
  {{/if}}
</div>