<footer class='mt-12 border-t pt-6 text-sm text-gray-600'>
  {{#if companyName}}
    <p>
      <strong>{{companyName}}</strong>
    </p>
  {{/if}}
  {{#if unsubscribeText}}
    <p class='mt-4'>
      <strong>{{unsubscribeText}}</strong>
      <a
        href='{{unsubscribeUrl}}'
        class='underline email-link'
      >{{unsubscribeLinkText}}</a>.
    </p>
  {{/if}}
  {{#if year}}
    <p>
      ©
      {{year}}
      {{companyName}}. All rights reserved.
    </p>
  {{/if}}
</footer>