{{!-- Header --}}
{{> header title=title subtitle=subtitle}}

{{!-- Featured section (optional) --}}
{{#if featured}}
<div class="email-box-highlight">
  <h2 class="email-subheading email-spacing-none">{{featured.heading}}</h2>
  <p class="email-body email-spacing-sm">{{{featured.content}}}</p>
  {{#if featured.link}}
  <p class="email-spacing-sm">
    <a href="{{featured.link}}" class="email-button-primary">READ MORE</a>
  </p>
  {{/if}}
</div>
{{/if}}

{{!-- Newsletter Content Sections --}}
{{#each sections}}
<div class="email-section">
  {{#if heading}}
  <h2 class="email-subheading">{{heading}}</h2>
  {{/if}}
  <p class="email-body">{{{content}}}</p>
  {{#if link}}
  <p>
    <a href="{{link}}" class="email-link">Read more &rarr;</a>
  </p>
  {{/if}}
</div>
{{#unless @last}}
<hr class="email-divider-subtle" />
{{/unless}}
{{/each}}
