{{!-- Header --}}
{{> header title=title}}

{{!-- Notification Content with type-based styling --}}
<div class="email-box-{{type}}">
  <p class="email-body email-spacing-none">{{{message}}}</p>
  {{#if details}}
  <p class="email-text-alt email-spacing-sm">{{{details}}}</p>
  {{/if}}
</div>

{{#if timestamp}}
<div class="email-section">
  <p class="email-text-xs">
    <em>{{timestamp}}</em>
  </p>
</div>
{{/if}}

{{#if actionUrl}}
<div class="email-section email-text-center">
  <a href="{{actionUrl}}" class="email-button">{{#if actionText}}{{actionText}}{{else}}VIEW DETAILS{{/if}}</a>
</div>
{{/if}}
