{{!-- Header --}}
{{> header title=title}}

{{!-- Reset Message --}}
<div class="email-section">
  <p class="email-body">{{#if instructionText}}{{{instructionText}}}{{else}}We received a request to reset your password. Click the button below to create a new password:{{/if}}</p>
</div>

{{!-- CTA Button --}}
<div class="email-section email-text-center">
  <a href="{{resetUrl}}" class="email-button-primary">{{#if resetLabel}}{{resetLabel}}{{else}}RESET PASSWORD{{/if}}</a>
</div>

{{!-- Reset Code --}}
{{#if resetCode}}
<div class="email-box-highlight">
  <p class="email-text-alt email-spacing-none">{{#if codeInstructionText}}{{codeInstructionText}}{{else}}Or use this reset code:{{/if}}</p>
  <p class="email-spacing-sm">
    <span class="email-code-lg">{{resetCode}}</span>
  </p>
</div>
{{/if}}

{{!-- Expiry & Security Notice --}}
<div class="email-section">
  {{#if expiryHours}}
  <p class="email-text-alt">
    <em>{{#if expiryNoticeText}}{{expiryNoticeText}}{{else}}This link will expire in {{expiryHours}} hours.{{/if}}</em>
  </p>
  {{/if}}
  <p class="email-text-alt">
    {{#if securityNoticeText}}{{securityNoticeText}}{{else}}If you didn't request a password reset, please ignore this email or contact support if you have concerns.{{/if}}
  </p>
</div>
