{{!-- Header --}}
{{> header title=title}}

{{!-- Welcome Message --}}
<div class="email-section">
  <p class="email-body">{{#if welcomeMessage}}{{{welcomeMessage}}}{{else}}Welcome to {{companyName}}! We're excited to have you on board.{{/if}}</p>
</div>

{{!-- Feature highlights (optional) --}}
{{#if features}}
<div class="email-box-highlight">
  <p class="email-subheading email-spacing-none">{{#if featuresHeading}}{{featuresHeading}}{{else}}What you can do:{{/if}}</p>
  <ul class="email-body email-spacing-sm">
    {{#each features}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
{{/if}}

{{!-- CTA Button --}}
<div class="email-section-hero">
  <p class="email-body email-spacing-none">{{#if ctaText}}{{ctaText}}{{else}}To get started, click the button below:{{/if}}</p>
  <p class="email-spacing-md">
    <a href="{{actionUrl}}" class="email-button-primary">{{#if ctaLabel}}{{ctaLabel}}{{else}}GET STARTED{{/if}}</a>
  </p>
</div>

{{!-- Additional Info --}}
<div class="email-section">
  <p class="email-text-alt">
    {{#if supportText}}{{supportText}}{{else}}If you have any questions, feel free to reach out to our support team.{{/if}}
  </p>
</div>
