<h1>Password Reset Request</h1>
<p>Hi {{name}},</p>
<p>We received a request to reset your password. Click the link below to
  proceed:</p>
<p><a href='{{resetUrl}}'>Reset Password</a></p>
<p>Or use this code: <code>{{resetCode}}</code></p>
<p>This link expires in {{expiryHours}} hours.</p>
<footer>© {{year}} {{companyName}}</footer>